.absForm {
    background-color: yellow; 
}

.ui-panel {
    background-color: yellow; 
}


#sidenav, #sidenav-mini {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 60px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1em;
    background-color: #2D353C !important;
  }
  