<div class="ui-g">
  <at-statistic label="My Hours" [value]="db.hours_billed" icon="fa-clock-o" colour="#00ACAC" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>
  <at-statistic label="Unbilled" [value]="db.unbilled_days" icon="fa-calendar" colour="#2F8EE5" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>
  <at-statistic label="Days Left" [value]="db.days_remaining" icon="fa-hourglass-half" colour="#6C76AF" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>
  <at-statistic label="Clients" [value]="db.clients_billed" icon="fa-users" colour="#EFA64C" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>
</div>
 
<div class="ui-g">

  <p-panel header="Hours By Client - This Month (pie)" class="ui-g-12 ui-md-6">
    <p-chart #pie type="pie" [data]="hoursTM" [options]="chartOptions"></p-chart>
  </p-panel>

  <p-panel header="Hours By Client - Last Month (doughnut)" class="ui-g-12 ui-md-6">
    <p-chart #doughnut type="doughnut" [data]="hoursLM"></p-chart>
  </p-panel>

</div>

<div class="ui-g">

  <p-panel header="Hours Year over Year (bar)" class="ui-g-12 ui-md-6">
    <p-chart type="bar" [data]="hoursYoY"></p-chart>
  </p-panel>

  <p-panel header="Me vs Company (line)" class="ui-g-12 ui-md-6">
    <p-chart type="line" [data]="hoursANAvsALL"></p-chart>
  </p-panel>

</div>

<div class="ui-g">
  
    <p-panel header="Hours By Team (radar)" class="ui-g-12 ui-md-6">
      <p-chart type="radar" height="150" [data]="hoursByTeamChartData"></p-chart>
    </p-panel>
  
    <p-panel header="Hours By Team (mixed)" class="ui-g-12 ui-md-6">
      <p-chart type="bar" [data]="hoursByTeamChartDataMixed" #mixedChart
      (onDataSelect)="onDataSelect($event)"></p-chart>
    </p-panel>
  
  </div>
